<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net45" />
  <package id="AngleSharp.Io" version="0.3.2" targetFramework="net45" />
  <package id="AngleSharp.Scripting.JavaScript" version="0.5.1" targetFramework="net45" />
  <package id="jint" version="2.10.4" targetFramework="net45" />
</packages>